html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  color: whitesmoke;
  background: #1d1d23;
}

.wrapper {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    max-width: 800px;
    margin: 50px auto;
    flex-grow: 1;
}

header, footer {
    margin: 10px auto;
}

header pre, header nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}

footer nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
}

@media (max-width: 600px) {
    header pre {
        font-size: 12px;
        padding-right: 10px;
    }

    header nav a {
        font-size: 20px;
        margin: 0 10px;
    }
}
